<div class="form_item_block">
    <label for="url">Url:<span class="asterisk">*</span></label>
    <input id="url" name="url" type="text" ng-model="Url" ng-required="true"/>
</div>
<div class="form_item_block">
    <label for="attribute">Attribute:<span class="asterisk">*</span></label>
    <input id="attribute" name="attribute" type="text" ng-model="Attribute" ng-required="true"/>
</div>
<div class="form_item_block">
    <label for="status">Status:<span class="asterisk">*</span></label>
    <input id="status" name="status" type="text" ng-model="Status" ng-required="true"/>
</div>
<div class="form_item_block">
    <label for="delay">Delay:<span class="asterisk">*</span></label>
    <input id="delay" name="delay" type="number" ng-model="Delay" min="1" ng-required="true"/>
</div>
<div class="form_item_block">
    <label for="timeout">Timeout:<span class="asterisk">*</span></label>
    <input id="timeout" name="timeout" type="number" ng-model="Timeout" min="1" ng-required="true"/>
</div>