<div class="form_item_block">
    <label for="url">Url:<span class="asterisk">*</span></label>
    <input id="url" name="url" type="text" ng-model="Url" ng-required="true"/>
</div>
<div class="form_item_block">
    <label for="attribute">Attribute:<span class="asterisk">*</span></label>
    <input id="attribute" name="attribute" type="text" ng-model="Attribute" ng-required="true"/>
</div>
<div class="form_item_block">
    <label for="status">Status:<span class="asterisk">*</span></label>
    <input id="status" name="status" type="text" ng-model="Status" ng-required="true"/>
</div>
<div class="form_item_block">
    <label for="delayValue">Delay:<span class="asterisk">*</span></label>
    <input id="delayValue" name="delayValue" type="number" ng-model="DelayValue" ng-init="DelayValue = Delay-0" ng-change="Delay = DelayValue+''" min="1" ng-required="true"/>
    <input id="delay" type="hidden" ng-model="Delay" value="{{Delay}}">
</div>
<div class="form_item_block">
    <label for="timeoutValue">Timeout:<span class="asterisk">*</span></label>
    <input id="timeoutValue" name="timeoutValue" type="number" ng-model="TimeoutValue" ng-init="TimeoutValue = Timeout-0" ng-change="Timeout = TimeoutValue+''" min="1" ng-required="true"/>
    <input id="timeout" type="hidden" ng-model="Timeout" value="{{Timeout}}">
</div>